img{
    border-radius: 60%;
    width: 150px; 
    height: 300px;
    height:fit-content;
    position: relative;
    top: -10px;
}

.box {
    display: inline-block; /* Deixa os elementos lado a lado */
    width: 190px; /* Define a largura */
    height: 300px;
    text-align: center;
    padding: 120px;
    align-items: center;
   
}

.bloco1{
    top: -190px;
    position: relative;
    
}

.bloco3{
  height: 100;
  width: 270px;
  background-color: orangered;
  top: 100px; /* Move metade da imagem para cima */
  left: 50%; /* Centraliza horizontalmente */
  margin-top: -90px;
}
.bloco2{
    position: relative; /* Torna a div um contêiner de referência */
    height: 250px; /* Altura da div */
    width: 250px;
    padding: 10px;
    top: -150px;
    align-items: flex-start;

    
    
        
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none; /* Remove as bolinhas */
    padding: 0; /* Remove o espaçamento interno */
}

button{
    background-color: none;
    border: solid orangered;
}